@import "./../template";
.banner{
  width: 100%;
  .banner-container{
    top: 1.45rem;
  }
}
.index-container{
  margin-bottom: .2rem;
  padding-top: .2rem;
  width: 100%;
}
.part{
  .text{
    @include font(.28rem,#fff);
  }
  .part-bg{
    height: 2.46rem;
    width: 4.55rem;
  }
  .part-sm{
    height: 2.46rem;
    width: 2.76rem;
    position: relative;
  }
  .part-m{
    height: 2.46rem;
    width: 3.65rem;
    position: relative;
  }
}
.title-text{
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: .1rem 0;
  background: rgba(0,0,0,.6);
}
.part-1{
  .part-bg{
    background: url('//ozjrt1c1f.bkt.clouddn.com/0797e1cde9504f92f7980c2fae365d76.png') no-repeat center;
    background-size: cover;
    position: relative;

  }
  .part-sm{
    background: url('//ozjrt1c1f.bkt.clouddn.com/36e56b51974c01e44e38339d875bf4a2.png') no-repeat center;
    background-size: cover;
    position: relative;

  }
}
.part-2{
  .part-bg{
    background: url('//ozjrt1c1f.bkt.clouddn.com/c3619fb667e5e6cc8f88e6890b23aee4.png') no-repeat center;
    background-size: cover;
    position: relative;
  }
  .part-sm{
    background: url('//ozjrt1c1f.bkt.clouddn.com/7bb83a68d2596b6fb7a729b33b339a35.png') no-repeat center;
    background-size: cover;
    position: relative;

  }
}
.part-3{
  .left{
    background: url('//ozjrt1c1f.bkt.clouddn.com/c7bf87a1f2b47bc86226abd6f9aac130.png') no-repeat center;
    background-size: cover;
    float: left;
    position: relative;

  }
  .right{
    background: url('//ozjrt1c1f.bkt.clouddn.com/a881625ee99ba0242f3506a0c9d20cac.png') no-repeat center;
    background-size: cover;
    float: right;
    position: relative;

  }
}