<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>探灵阁</title>
    <link rel="stylesheet" href="static/css/index/index.css">
    <script src="static/js/wyboot/wyboot.js"></script>
</head>
<body>
<div id="app" v-cloak>
    <app-head @search="search"></app-head>
    <div class="app-banner">
        <!--<div class="banner-param">-->
            <!--<p class="info">一句概括</p>-->
            <!--<i-button class="edit-btn" @click="publish">发布故事</i-button>-->
        <!--</div>-->
        <div class="container banner-container">
            <carousel autoplay v-model="banner" loop autoplay-speed="5000">
                <carousel-item>
                    <div class="demo-carousel">
                        <img class="response-img" src="//ozjrt1c1f.bkt.clouddn.com/39e57684f452108b64f64579c724892c.png" alt="">
                    </div>
                </carousel-item>
                <carousel-item>
                    <div class="demo-carousel">
                        <img class="response-img" src="//ozjrt1c1f.bkt.clouddn.com/39e57684f452108b64f64579c724892c.png" alt="">
                    </div>
                </carousel-item>
                <carousel-item>
                    <div class="demo-carousel">
                        <img class="response-img" src="//ozjrt1c1f.bkt.clouddn.com/39e57684f452108b64f64579c724892c.png" alt="">
                    </div>
                </carousel-item>
                <carousel-item>
                    <div class="demo-carousel">
                        <img class="response-img" src="//ozjrt1c1f.bkt.clouddn.com/39e57684f452108b64f64579c724892c.png" alt="">
                    </div>
                </carousel-item>
            </carousel>
        </div>
    </div>
    <div class="app-list">
        <div class="container">
            <div class="list hot-list">
                <p class="row-title">最热</p>
                <row :gutter="16">
                    <i-col v-for="(item,index) in hostList" span="4">
                        <card>
                            <div class="card-content small" @click="urlLink(item)">
                                <img class="response-img" :src="item.cover">
                                <p class="card-title">{{item.title}}</p>
                            </div>
                        </card>
                    </i-col>
                </row>
            </div>
            <div class="list new-list">
                <p class="row-title">最新</p>
                <row :gutter="16">
                    <i-col v-for="(item,index) in newList" span="4">
                        <card>
                            <div class="card-content small" @click="urlLink(item)">
                                <img class="response-img" :src="item.cover">
                                <p class="card-title">{{item.title}}</p>
                            </div>
                        </card>
                    </i-col>
                </row>
            </div>
            <div class="list recommend-list">
                <p class="row-title">推荐</p>
                <row :gutter="16">
                    <i-col v-for="(item,index) in recomList" span="4">
                        <card>
                            <div class="card-content small" @click="urlLink(item)">
                                <img class="response-img" :src="item.cover">
                                <p class="card-title">{{item.title}}</p>
                            </div>
                        </card>
                    </i-col>
                </row>
            </div>
        </div>
    </div>
    <app-foot></app-foot>
    <app-login></app-login>
</div>
<script src="static/js/tpl/tpl.js"></script>
<script src="static/js/index/index.js"></script>
</body>
</html>