[v-cloak]{
  display: none;
}
.header-container{
  background: #495060;
  text-align: right;
  .header{
    float: left;
    text-align: left;
  }
  .search-input{
    width: 200px;
    line-height: 60px;
    margin-right: 40px;
  }
}
.clearfix:before,.clearfix:after{
  content: "";
  display: table;
  clear: both;
}
textarea{
  resize: none;
}
.container{
  width: 1300px;
  margin: auto;
}
.response-img{
  display: block;
  width: 100%;
  height: 100%;
}
.ivu-modal-close .ivu-icon-ios-close-empty{
  z-index: 99;
}
[v-cloak]{
  display: none;
}